/*
Error: Invalid CSS after "...ing_phase(): 1,": expected "{", was "}"
        on line 59 of /Users/goldsborough/Documents/Work/broad/code/cytogan/cytogan/models/orbital_gan.py

54:             self.batch_size: [len(fake_images)],
55:             self.images: images,
56:             self.discriminator_labels: discriminator_labels,
57:             self.angle_labels: angle_labels,
58:             K.learning_phase(): 1,
59:         }
60:         return self.session.run(fetches, feed_dict)[1:]
61: 
62:     def _define_graph(self):
63:         super(OrbitalGAN, self)._define_graph()
64: 

Backtrace:
/Users/goldsborough/Documents/Work/broad/code/cytogan/cytogan/models/orbital_gan.py:59
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1125:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1120:in `tok!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:656:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:726:in `declaration_or_ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:665:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:649:in `ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:675:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:665:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:125:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:41:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:391:in `run'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ing_phase(): 1,\": expected \"{\", was \"}\"\A         on line 59 of /Users/goldsborough/Documents/Work/broad/code/cytogan/cytogan/models/orbital_gan.py\A \A 54:             self.batch_size: [len(fake_images)],\A 55:             self.images: images,\A 56:             self.discriminator_labels: discriminator_labels,\A 57:             self.angle_labels: angle_labels,\A 58:             K.learning_phase(): 1,\A 59:         }\A 60:         return self.session.run(fetches, feed_dict)[1:]\A 61: \A 62:     def _define_graph(self):\A 63:         super(OrbitalGAN, self)._define_graph()\A 64: "; }
